{% extends './base.html' %}

{% block content %}

    <div class="infopages__wrapper">
        <div class="infopages__title">
            о нас
        </div>
        <div class="infopages__content">
            <strong style="text-transform:uppercase;">
                
            Prof Butik 
            </strong> 
                 – первый в Крыму интернет-магазин профессиональной косметики для волос. <br> 
В числе наших товаров профессиональная продукция таких известных торговых марок как Schwarzkopf, INDOLA , Matrix, TIGI, Honma Tokyo,  Batiste, ESK Professionel. <br>
Ассортимент каталога постоянно пополняется. <br>
    <br>
    <div class="garant__title">
    <strong> Мы гарантируем: </strong>
    </div>
            <div class="garant__list">
                <div class="garant__list__item">
                    <i class="gg-check"></i>
                    Большой ассортимент качественных товаров от производителя.
                </div>
                <div class="garant__list__item">
                    <i class="gg-check"></i>
                    Доставка по Крыму.
                </div>
                <div class="garant__list__item">
                    <i class="gg-check"></i>
                    Только сертифицированные товары.
                </div>
                <div class="garant__list__item">
                    <i class="gg-check"></i>
                    Широкий выбор известных брендов.
                </div>
                <div class="garant__list__item">
                    <i class="gg-check"></i>
                    Возможность оформить заказ товара оптом и в розницу.
                </div>
            </div> 
            <!-- <div class="time__work">
            <p></p>
               <strong> Время работы: </strong> <br>
                        по будням с 09:00 до 18:00  <br>
                        суббота с 10:00 до 15:00 <br>
                        воскресенье - выходной <br>
            </div> -->
        </div>
    </div>

{% endblock content %}