{% load static %}
{% load products_extras %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ИНТЕРНЕТ-МАГАЗИН ПРОФЕССИОНАЛЬНОЙ КОСМЕТИКИ ДЛЯ ВОЛОС</title>

    <link href='https://css.gg/css' rel='stylesheet'>

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/a076d05399.js' %}"></script>
    

    <link rel="stylesheet" href="{% static 'slick/slick.css'%}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    
</head>
<body>
    <div class="all__site">
    
    {% block navigation %}
        {% include './blocks/nav.html' %}
    {% endblock navigation %}

    <div class="main__content__container">
    
    {% block content %}

    {% endblock content %}

   

    {% block main_footer %}
        {% include './blocks/footer.html' %}
    {% endblock main_footer %}

        {% include './blocks/contact_popup.html' %}

    {% if ck_message == 'not' %}
        {% include './blocks/cookie_agree.html' %}
    {% endif %}


    </div>

    </div>


    <div class="loading__block">
    </div>

    {% include './blocks/added_cart.html' %}

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'slick/slick.js' %}"></script>


    

    <script>
   
    cartUpdateTotal()


// add to cart logic 
$(".filter__block__content").click(function() {

    if ($(this).hasClass('active')) {
    $(this).removeClass("active")
} else {
    $(this).addClass("active")
}

// var filter_hair = []
//var filter_prtype = []
//var filter_destinations = []

var [filter_hair, filter_prtype, filter_destinations,
filter_brands, filter_series] = collectActive();

// console.log(filter_hair)
// console.log(filter_prtype)
// console.log(filter_destinations)
// console.log(filter_brands)

loadProducts(filter_hair, filter_prtype, filter_destinations,
filter_brands, filter_series)



})

function setActiveFilters() {
    console.log('setting active filters')
    current_url = window.location.href
    var url = new URL(current_url)
    var brand = url.searchParams.get('brand')
    var series = url.searchParams.get('series')
    var hair_filters = url.searchParams.get('hair_filters')
    var prtype_filters = url.searchParams.get('prtype_filters')
    var dest_filters = url.searchParams.get('dest_filters')
    var brands_filter = url.searchParams.get('brands_filter')
    var series_filter = url.searchParams.get('series_filter')
    if (brands_filter.length > 0) {
        brands_filter = brands_filter.split(',')
        for (i = 0; i < brands_filter.length; i++) {
            $("#brands_filter_content").addClass('show')
        $('#brands_filter_content').find(".filter__check__button[value='" + brands_filter[i] + "']").parent().addClass('active')
        }
    }
    if (hair_filters.length > 0) {
        hair_filters = hair_filters.split(',')
        for (i = 0; i < hair_filters.length; i++) {
            $("#hairtype_content").addClass('show')
        $('#hairtype_content').find(".filter__check__button[value='" + hair_filters[i] + "']").parent().addClass('active')
        }
    }
    if (prtype_filters.length > 0) {
        prtype_filters = prtype_filters.split(',')
        for (i = 0; i < prtype_filters.length; i++) {
            $("#prtype_content").addClass('show')
        $('#prtype_content').find(".filter__check__button[value='" + prtype_filters[i] + "']").parent().addClass('active')
        }
    }
    if (dest_filters.length > 0) {
        dest_filters = dest_filters.split(',')
        for (i = 0; i < dest_filters.length; i++) {
            $("#destination_content").addClass('show')
        $('#destination_content').find(".filter__check__button[value='" + dest_filters[i] + "']").parent().addClass('active')
        }
    }
    if (series_filter.length > 0) {
        series_filter = series_filter.split(',')
        for (i = 0; i < series_filter.length; i++) {
            $("#series_filter_content").addClass('show')
        $('#series_filter_content').find(".filter__check__button[value='" + series_filter[i] + "']").parent().addClass('active')
        }
    }
}

function loadProducts(filter_hair, filter_prtype, 
filter_destinations, filter_brands, filter_series) {

var brand_id = "{{ current_brand }}"
var ser_id = "{{ current_ser }}"
var category_id = "{{ current_category }}"

var filter_path = "?brand=" + brand_id + 
    "&series=" + ser_id + "&hair_filters=" + filter_hair + 
    "&prtype_filters=" + filter_prtype + "&dest_filters=" + 
    filter_destinations + "&cat_id=" + category_id + 
    "&brands_filter=" + filter_brands + "&series_filter=" + filter_series
var current_url = window.location.pathname
var filter_url = current_url + filter_path
    console.log('url path is', filter_path)
    console.log('current url is', current_url)
    console.log('full filter url is', filter_url)

    // window.location.href = filter_url
    $.ajax({
        url: filter_url,
        cache: false,
        success: function(data) {
            console.log(data)
            $(".products__container").html(data)
            // window.location.href = filter_url
            // window.location.pathname = filter_url
            window.history.pushState({}, null, filter_url)
            // setActiveFilters()
        }
    })
// $(".products__container").html('').load(
//     "{% url 'products:filter_products'%}?brand=" + brand_id + 
//     "&series=" + ser_id + "&hair_filters=" + filter_hair + 
//     "&prtype_filters=" + filter_prtype + "&dest_filters=" + 
//     filter_destinations + "&cat_id=" + category_id + 
//     "&brands_filter=" + filter_brands + "&series_filter=" + filter_series
// )

}

function collectActive() {
var active_hair = []
var active_types = []
var active_destinations = []
var active_brands = []
var active_series

var hair_class = $(".filter__hairtype")
var prtype_class = $(".filter_prtype")
var destination_class = $(".filter_destination")
var brands_class = $(".filter__brands_filter")
var series_class = $(".series_filter_content")

active_hair = parseActive(hair_class)
active_types = parseActive(prtype_class)
active_destinations = parseActive(destination_class)
active_brands_filter = parseActive(brands_class)
active_series_filter = parseActive(series_class)

//console.log(active_hair)

return [active_hair, active_types, active_destinations,
active_brands_filter, active_series_filter]
}
function parseActive(parse_class) {
var tmp_list = []
for (i = 0; i < parse_class.length; i++) {
    if ($(parse_class[i]).hasClass("active")) {
        var el = $(parse_class[i]).find("li")
       // console.log($(el).attr('value'))
        tmp_list.push($(el).attr('value'))
    }
}
return tmp_list
}


$(".product__addcart__link").click(function() {
closeModalAdded()
console.log('start add to cart')
product_id = $(this).attr("value")
console.log(product_id)
$.ajax({
    url: "{% url 'cart:add_to_cart_ajax' %}",
    data: {
        'product_id': product_id,
    },
    success: function(data) {
        cartUpdateTotal()
        console.log(data)
        showModalAdded()
        
    }
});
})

function showModalAdded() {
$(".modal__container__wrapper").addClass("show")
setTimeout(function() {
    $(".modal__container__wrapper").removeClass("show")
}, 1500)
}
function closeModalAdded() {
if ($(".modal__container__wrapper").hasClass("show")) {
    $(".modal__container__wrapper").removeClass("show")
}
}

function cartUpdateTotal() {
    $.ajax({
        url: "{% url 'cart:update_nav_total' %}",
        data: {
        },
        success: function(data){
            cart_total = data['cart_total']
            $(".cart__total__nav").html(cart_total)
        },
    }
    )
}


    </script>

{% block javascript %}
{% endblock javascript %}

</body>
</html>