{% extends './base.html' %}

{% block content %}

    <div class="infopages__wrapper">
        <div class="infopages__title">
            доставка
        </div>
        <div class="infopages__content">
            Минимальная сумма заказа - 1 000 руб.  <br>
            Обработка заказов происходит в будние дни с понедельника по пятницу. Заказы, оформленные в субботу и воскресенье, обрабатываются в понедельник.
            <br><br>
            <strong> Вы можете воспользоваться следующими видами доставки: </strong> <br> <br>
            <strong> 1) Доставка по Республики Крым. </strong> <br>
             При заказе:
             от 2000 руб. – курьерская доставка 
             <strong style="text-decoration: underline">
                бесплатно
             </strong> <br>
            до 2000 руб. -  стоимость доставки курьером 
            <strong style="text-decoration: underline">
            200 руб.
            </strong>
                <br>
                <p>
                    <strong>Время доставки: с 09.00 до 18.00. </strong>
                </p>
               <strong> ! </strong> Если товар отправлен, то изменить место доставки уже невозможно. Повторный выезд курьера не осуществляется —  в этом случае Вы сможете получить Заказ в пункте самовывоза. <br>
               <strong> ! </strong> Внешний вид и комплектность товара проверяются покупателем при получении товара.  <br>
                <br>
               <strong>2) Доставка почтой России.</strong> <br>
               <p>
                Доставка заказов почтой России осуществляется при 100% предоплате. Стоимость доставки  определяется по тарифам Почты России.
               </p> 
                
               <strong>2) Доставка транспортной компанией.</strong> <br>
               <p>
                Доставка заказов осуществляется при 100% предоплате (стоимость заказа определяется по тарифам ТК). Вы можете выбрать удобный способ доставки: забрать из пункта самовывоза или доставку до двери. 
               </p> 
               <strong>3) Пункты самовывоза в городе Симферополь и Феодосия.</strong> <br>
        </div>
    </div>

{% endblock content %}