{% extends './base.html' %}

{% block content %}

<div class="infopages__wrapper">
    <div class="infopages__title">
        Салонам красоты
    </div>
    <div class="infopages__content">
        <div>
            <strong>
            Уважаемые профессионалы индустрии красоты!
            </strong>
        </div>
        <div> <br>
            Обращаем ваше внимание, что указанные цены, условия доставки и акции на нашем сайте действительны для розничных покупателей. 
        </div>
        <div> <br>
            Наша  Компания  является  официальным дистрибьютором  по  Республике Крым ТМ : Schwarzkopf, INDOLA , Matrix, TIGI, Honma Tokyo, Batiste, ESK Professionel. Для профессионалов действуют оптовые цены.
        </div> <br>
        <div>
            <strong>
            ПРЕЛОЖЕНИЯ О СОТРУДНИЧЕСТВЕ:
            </strong>
        </div> <br>
        <div>
            <li>
                Персональный менеджер 
            </li>
            <li>
                Доставка по Республике Крым 
            </li>
            <li>
                Консультации технолога по продукции
            </li>
            <li>
                Повышение квалификации в учебной центре «Академия Красоты»
            </li>
            <li>
                Обучение продавцов-консультантов
            </li>
        </div> <br>
        <div>
            Если Вас заинтересовали наш ассортимент и Вас интересуют условия сотрудничества, напишите нам на почту 
            <a href="mailto:proff-butik@mail.ru">
                proff-butik@mail.ru
            </a>
             или  звоните по телефону 
             <a href="tel:+79885940070">
             +7 988  594 00 70
            </a>
        </div>
    </div>
</div>  

{% endblock content %}