{% extends './base.html' %}

{% block content %}

<div class="infopages__wrapper">
    <div class="infopages__title">
        Оплата
    </div>
    <div class="infopages__content">
        Минимальная сумма заказа - 1 000 руб.
        <br>
        <br>
        Оплата наличными при получении. 
        <!-- <br> -->
        <!-- 2. Оплата на сайте банковской картой.  -->
        <!-- <br> -->
        <div>
            *Если хотите оплатить по безналичному расчету, напишите в комментариях (при оформления заказа). После чего, Вам будет выслан счет, после  оплаты заказ будет доставлен.
        </div>
        <br>
        <strong> ВНИМАНИЕ! </strong> Проверяйте ваши заказы при курьере или в Пункте выдачи заказов.
        <br> <br>
        Отгрузка заказов оформленных доставкой Почтой России или Транспортной компанией в осуществляются только по  предварительной оплате в полном размере.
        <br> <br>
        При оформлении Заказа Вы должны обязательно указать следующую информацию:
        <br> <br>
        <li> Ф.И.О. покупателя </li>
        <li>Адрес доставки заказа </li>
        <li>Контактный телефон</li>
        <br>


    </div>
</div>  

{% endblock content %}