<div class="create__order__container">
    <div class="create__order__button">
        Оформить заказ
    </div>
</div>

<script>
    $(".create__order__button").click(function() {
        var check_status = "ok"
        console.log('need to create order')
        var delivery_method = $("#delivery__name").attr("value")
        var delivery_cost = $("#delivery__price").attr("value")
        var payment_method = $("input[name='payment_method']:checked").val()
        var customer_name = $("input[name='customer_name']").val()
        var customer_phone = $("input[name='customer_phone']").val()
        var customer_email = $("input[name='customer_email']").val()
        var customer_city = $("input[name='customer_address_city']").val()
        var customer_address = $("input[name='customer_address_fullad']").val()
        var all_price = parseInt($("#allprice__price").attr("value"))
        var cart_comment = $(".cart__input__text").val()


        if (delivery_method) {
            $("#error__delivery").removeClass("visible")
        } else {
            $("#error__delivery").addClass("visible")
            var check_status = "error"
        }
        if (payment_method) {
            $("#error__payment").removeClass("visible")
        } else {
            $("#error__payment").addClass("visible")
            var check_status = "error"
        }
        if ((customer_name) && (customer_phone) && (customer_email)) {
            $("#error__customer__info").removeClass("visible")
        } else {
            $("#error__customer__info").addClass("visible")
            var check_status = "error"
        }
        if ((customer_city) && (customer_address)) {
            $("#error__address").removeClass("visible")
        } else {
            $("#error__address").addClass("visible")
            var check_status = "error"
        }

        console.log(all_price)

        if (all_price < 1000) {
            console.log('сумма в корзине мала')
            check_status = "error"
            $(".minimal__error__wrap").addClass("show")
            $(".minimal__error__wrap__close").addClass("show")
        }

        
        if (check_status == 'ok') {
             // make ajax call to create order 
            $.ajax({
                url: "{% url 'cart:create_order_ajax' %}",
                data: {
                    'cart_comment': cart_comment,
                    'delivery_method': delivery_method,
                    'delivery_cost': delivery_cost,
                    'payment_method': payment_method,
                    'customer_name': customer_name,
                    'customer_phone': customer_phone,
                    'customer_email': customer_email,
                    'customer_city': customer_city,
                    'customer_address': customer_address
                },
                success: function(data) {
                    if (data['order_created'] == 'yes') {
                        $(".cart__content").html('')
                        $(".thank__wrap").addClass("show")
                    }
                }
            });
        }
        
       
    })
</script>