<div class="shipping__container cart__form__container">
    <div class="shipping__title cart__form__main__title">
        Способ доставки
    </div>
    <div class="cart__error__message" id="error__delivery">
        Выберите способ доставки
    </div>
<form class="shipping__form cart__f__form"
action="">
    <!-- <input type="radio" id="sdek" name="shipping_method" value="sdek">
    <label for="sdek"> СДЭК - 300р.</label> <br>
    <input type="radio" id="bypost" name="shipping_method" value="bypost">
    <label for="bypost"> Почтой - 200р.</label> <br> -->
    <input type="radio" id="personal" name="shipping_method" value="personal">
    <label for="personal"> Самовывоз - бесплатно (Симфероль, Феодосия)</label> <br>
    <input type="radio" id="courier" name="shipping_method" value="courier">
    <label for="courier"> Доставка Курьером </label> <br>

</form>
</div>