{% load static %}
{% load products_extras %}

<h2>
    Новый заказ! № {{ order_id }}. Сумма заказа: {{ order_price_mail }}.
</h2>

<div>
    <table>
        <tr>
            <td class="order_mail_td">
                Статус
            </td>
            <td>
            -->
                Ожидает подтверждения менеджером
            </td>
        </tr>
        <tr>
            <td class="order_mail_td">
                Имя
            </td>
            <td>
            -->
                {{ name }}
            </td>
        </tr>
        <tr>
            <td class="order_mail_td">
                Email
            </td>
            <td>
            -->
                {{ email }}
            </td>
        </tr>
        <tr>
            <td class="order_mail_td">
                Адрес доставки
            </td>
            <td>
            -->
                {{ delivery_address }}
            </td>
        </tr>
        <tr>
            <td>
                Способ доставки:
            </td>
            <td>
            -->
                {{ delivery_method_mail }}
            </td>
        </tr>
        <tr>
            <td>
                Стоимость доставки
            </td>
            <td>
            -->
                {{ delivery_cost }}
            </td>
        </tr>
        <tr>
            <td>
                Комментарий к заказу:
            </td>
            <td>
            -->
                {{ order_comment_mail }}
            </td>
        </tr>
    </table>
    <br> <br>
    <h3>
        Состав заказа:
    </h3>
    <br>
    <table>
        {% for item in cart_items_all %}
            <tr>
                <td>
                    {% corrent_imgurl item.imgurl as correct_productimg %}
                    <img src="{% static 'images/products/' %}{{ correct_productimg }}" alt="">      
                </td>
                <td>
                    {{ item.name }} ({{ item.brand }}, 
                    {% if item.series %}
                    {{ item.series }}
                    {% endif %}
                    , {{ item.obiem }})
                </td>
                <td>
                    {{ item.quantity }} x 
                    {% if item.sale_price %}
                        {{ item.sale_price }}
                        {% else %}
                        {{ item.price }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>