    <!--Payment form-->
    <div class="payment__container cart__form__container">
        <div class="payment__title cart__form__main__title">
            Способ оплаты
        </div>
        <div class="cart__error__message" id="error__payment">
            Выберите способ оплаты
        </div>
    <form class="payment__form cart__f__form"
    action="">
        <!-- <input type="radio" id="cashless" name="payment_method" value="cashless">
        <label for="cashless"> Онлайн банковской картой </label> <br> -->
        <input type="radio" id="cash" name="payment_method" value="cash">
        <label for="cash"> Оплата наличными </label> <br>
    </form>
    </div>

    <!--End Payment form-->

    <script>


    </script>