<div class="footer__cop__wrapper">
    <span class="footer__cop__wrapper__main">
    Все права защищены © 2020  
    </span>
    <div class="footer__cop__wrapper__oferta">
        Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о товаре и его стоимости, пожалуйста, обращайтесь к операторам.
    </div>
</div>