<div class="header__top__wrapper">
    <div class="header__top__container">
    <div class="header__top__item">
            <a href="{% url 'products:aboutus' %}">
               О Нас 
            </a>
        </div>
        <div class="header__top__item">
            <a href="{% url 'products:payment_info' %}">
               Оплата 
            </a>
        </div>
        <div class="header__top__item">
            <a href="{% url 'products:delivery_info' %}">
               Доставка 
            </a>
        </div>
        <div class="header__top__item">
            <a href="{% url 'products:take_back' %}">
               Возврат 
            </a>
        </div>
        <div class="header__top__item">
            <a href="{% url 'products:partners_info' %}">
               Партнерам 
            </a>
        </div>
        <div class="header__top__item">
            <a href="{% url 'products:contact_info' %}">
               Контакты
            </a>
        </div>
    </div>
</div>