{% load static %}

   
    <div class="features__title">
        Наши преимущества
    </div>
    <div class="features__container">
        <div class="feature__card">
            <img src="{% static 'images/assortments.svg' %}" alt="">
            <div class="feature__title">
                Большой ассортимент качественных товаров от производителя
            </div>
            <div class="feature__desc">

            </div>
        </div>
        <div class="feature__card">
            <img src="{% static 'images/certificate.svg' %}" alt="">
            <div class="feature__title">
                Только сертифицированные товары
            </div>
            <div class="feature__desc">

            </div>
        </div>
        <div class="feature__card">
            <img src="{% static 'images/shipping.svg' %}" alt="">
            <div class="feature__title">
                Курьерская доставка по Крыму
            </div>
            <div class="feature__desc">

            </div>
        </div>
    </div>