 {% if popular_products %}
 
 <div class="product__forsale__title">
        <span>
        Популярные товары
        </span>
    </div>

    <div class="product__slider product__slider__4">
        {% for product in popular_products  %}
            {% include './single_product.html' %}
        {% endfor %}
    </div> 
    <div class="product__slider product__slider__3">
        {% for product in popular_products  %}
            {% include './single_product.html' %}
        {% endfor %}
    </div> 
    <div class="product__slider product__slider__2">
        {% for product in popular_products  %}
            {% include './single_product.html' %}
        {% endfor %}
    </div> 
    <div class="product__slider product__slider__1">
        {% for product in popular_products  %}
            {% include './single_product.html' %}
        {% endfor %}
    </div> 

{% endif %}