 {% load products_extras %}


 {% filter_hairtype allproducts as hairtypes %}
 {% filter_prtype allproducts as prtypes %}
 {% filter_destination allproducts as destinations %}
 {% filter_series allproducts as filters_series %}
 {% comment %} {% filter_obiem allproducts as obiems %} {% endcomment %}

    {% include './products_filters_mobile.html' %}


 <div class="products_list__container">
 
    {% include './products_filters.html' %}
 
    {% include './products_wrap.html' %}

</div>



{% comment %} mobile filter wrapper {% endcomment %}



{% block javascript %}

    <script>


    </script>


{% endblock javascript %}